@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;800&display=swap');

/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Styles */

body {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: #777;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.content-wrapper {
    width: 1040px;
    position: relative;
}

/* Header Styles */

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px 130px 0;

    position: absolute;
    left: -435px;
    background: #f0f8ff;
    width: 1920px; 
    text-align: center;
}

#header .container {
    position: relative;
}

#header .header-logo {
    position: absolute;
    left: -173px;

    width: 200px;
    height: 65px;
}



/* Services Styles */

#services {
    width: 100%;
    height: 569px;
    padding: 50px 0;

    margin-top: 160px;
}

#services .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

#services h2 {
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 25px;
}

#services img {
    width: 490px;
    height: 237.64px;
    border: 2px solid #cecece;
    border-radius: 5px;
}

.row-left {
    line-height: 1.75;
    margin-right: 25px;
}

.row-left a {
    color: #2EBDED;
}

.service-two {
    margin-top: 15px;
}


/* Divider Styles */

#divider {
    position: absolute;
    left: -435px;
    width: 1920px; 
    text-align: center;

    top: 830px;
    background: #2c76bc;
}

#divider .container {
    padding: 50px;
}

#divider .container h2 {
    font-weight: 800;
    font-size: 33px;
    color: #fff;
}

/* Services Buttons Styles */

#services-buttons {
    margin-top: 200px;
    margin-bottom: 90px;
}

#services-buttons .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

#services-buttons .button-container {
    border: 2px solid #cecece;
    border-radius: 5px;
    padding: 15px 20px;
    text-align: center;    
    background: #f5f5f5;
}

.button-container > * {
    margin-bottom: 10px;
}

.button-container img {
    width: 450px;
    margin-bottom: 20px;
}

.button-container h3 {
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 30px;
}

.button-container a {
    color: #e63140;
    text-decoration: none;
    border-bottom: 2px solid #e63140;
}

.button-container a:hover {
    border: none;
}

.number {
    font-weight: 800;
    font-size: 20px;
    color: #2c76bc;
}

.address {
    margin-bottom: 13px;
}


/* Footer Styles */

.footer {
    background: #f0f8ff;
    position: absolute;
    left: -435px;
    width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 135px 0px 98px 0;
}

.top-footer-container {
    width: 1920px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}


.footer-logo {
    position: absolute;
    left: 650px;
    margin-bottom: 23px;
}

.footer-logo img {
    height: 140px;
    margin-left: 130px;
}

.copyright {
    color: #2c76bc;
    width: 1920px;
    padding-bottom: 23px;
    font-size: 12px;
    
    position: absolute;
    bottom: 0;
}

.copyright a {
    text-decoration: none;
    color: #e63140;
}

.copyright a:hover {
    text-decoration: underline;
}

.copyright p {
    margin-left: 765px;
}