@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;800&display=swap');

/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Styles */

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	color: #777;
	font-size: 15px;
	overflow-x: hidden;
}

.content-wrapper {
	width: 1920px;
}

/* Header Styles */

#header .container {
	background: #f0f8ff;
	padding: 50px 0px 110px 0;
	display: flex;
	justify-content: center;
	position: relative;
}

#header .header-logo {
	position: absolute;
    top: 30px;
    left: 43%;
	height: 65px;
}



/* Services Styles */

#services {
	height: 569px;
	padding: 50px 0;
}

#services h2 {
	font-weight: 800;
	font-size: 20px;
	margin-bottom: 25px;
}

#services img {
	width: 490px;
	height: 237.64px;
	border: 2px solid #cecece;
	border-radius: 5px;
}

.cols {
	width: 55%;
    display: flex;
	justify-content: center;
	align-items: center;
    margin-left: auto;
    margin-right: auto;
   
}

.col-left {
	line-height: 1.70;
    margin-right: 35px;
    width: 50%;
}

.col-left a {
	color: #2EBDED;
	font: inherit;
}

.col-right {
	width: 50%;
	padding-left: 3%;
}

.service-two {
	margin-top: 15px;
}


/* Divider Styles */

#divider {
	position: absolute;
	width: 1920px; 
	text-align: center;
	height: 140px;
	top: 780px;
	background: #2c76bc;
}

#divider .container {
	padding: 50px;
}

#divider .container h2 {
	font-weight: 800;
	color: #fff;
	font-size: 245%;
}

/* Services Buttons Styles */

#services-buttons {
	margin-top: 310px;
	margin-bottom: 90px;
}

#services-buttons .container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 30px;
	width: 55%;
	margin: 0 auto;
}

#services-buttons .button-container {
	border: 2px solid #cecece;
	border-radius: 5px;
	padding: 15px 20px;
	text-align: center;    
	background: #f5f5f5;
}

.button-container > * {
	margin-bottom: 10px;
}

.button-container img {
	margin-bottom: 20px;
}

.button-container h3 {
	font-weight: 800;
	font-size: 18px;
	margin-bottom: 30px;
}

.button-container a {
	color: #e63140;
	text-decoration: none;
	border-bottom: 2px solid #e63140;
}

.button-container a:hover {
	border: none;
}

.number {
	font-weight: 800;
	font-size: 20px;
	color: #2c76bc;
}

.address {
	margin-bottom: 13px;
}


/* Footer Styles */

.footer {
	background: #f0f8ff;
	width: 1920px;
	padding: 135px 0px 98px 0;
	position: relative;
}

.top-footer-container {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
}


.footer-logo {
	position: absolute;
	left: 700px;
	margin-bottom: 23px;
}

.footer-logo img {
	height: 140px;
	margin-left: 130px;
}

.copyright {
	color: #2c76bc;
	padding-bottom: 23px;
	font-size: 12px;
	bottom: 5px;
	position: absolute;

}

.copyright a {
	text-decoration: none;
	color: #e63140;
}

.copyright a:hover {
	text-decoration: underline;
}

.copyright p {	
	margin-left: 815px;
}

/* Media Queries */


@media screen and (max-width: 480px) {
 
	.content-wrapper,
	#divider,
	#services-buttons,
	.footer {
		width: 480px;
	}

	/* Header Styles */

	#header .container {
		padding: 50px 0px 90px 0;
	}

	#header .header-logo {
		left: 110px;
	}

	#header .header-logo img {
		width: 80%;
	}

	/* Services */	

	#services {
		margin-bottom: 100px;
	}

	.cols {
		flex-direction: column;
		width: 70%;
		margin: 0 auto;
	}

	.col-left {
		width: 120%;
		margin-left: 30px;
		margin-bottom: 20px;
	}

	.col-right {
		padding-left: 0;
		margin-left: -10px;
		width: 120%;
	}

	.col-right img {
		max-width: 100%;
	}


	/* Divider */

	#divider {
		top: 1380px;
	}

	#divider .container h2 {
		font-size: 175%;
		font-weight: 800;
	}


	/* Services */

	#services-buttons {
		margin-top: 850px;
	}

	#services-buttons .container {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
	}

	.button-container {
		width: 152%;
		margin-left: -73px;
	}

	.button-container img {
		max-width: 100%;
	}


	/* Footer */

	.footer-logo {
		left: -68px;
	}

	.footer-logo img {
		height: 128px;
		margin-bottom: 50px;
	}

	.copyright {
		font-size: 13px;
		width: 90%;
		text-align: center;
	}

	.copyright p {
		margin-left: 50px;
		line-height: 1.5;
	}
}




@media screen and (min-width: 481px) and (max-width: 768px) {
 
	.content-wrapper,
	#divider,
	#services-buttons,
	.footer {
		width: 768px;
	}

	/* Header Styles */

	#header .container {
		padding: 50px 0px 90px 0;
	}

	#header .header-logo {
		left: 260px;
	}

	#header .header-logo img {
		width: 80%;
	}

	/* Services */	

	#services {
		margin-bottom: 100px;
	}

	.cols {
		flex-direction: row;
		width: 95%;
		margin: 0 auto;
	}

	.col-left {
		width: 147%;
		margin-left: 5px;
		margin-bottom: 20px;
	}

	.col-right {
		margin-top: -150px;
		margin-left: -20px;
		width: 140%;
	}

	.col-right img {
		max-width: 100%;
	}


	/* Divider */

	#divider {
		top: 925px;
	}

	#divider .container h2 {
		font-size: 175%;
	}




	/* Services */

	#services-buttons {
		margin-top: 420px;
	}

	#services-buttons .container {
	
		grid-gap: 145px;
		width: 78.5%;
		margin-left: 96px;
	}

	.button-container {
		width: 152%;
		margin-left: -73px;
	}

	.button-container img {
		max-width: 100%;
	}


	/* Footer */

	.footer-logo {
		left: 84px;
	}

	.footer-logo img {
		height: 128px;
		margin-bottom: 50px;
	}

	.copyright {
		font-size: 13px;
		width: 90%;
		text-align: center;
	}

	.copyright p {
		margin-left: 90px;
		line-height: 1.5;
	}
}


@media screen and (min-width: 769px) and (max-width: 1024px) {
 
	.content-wrapper,
	#divider,
	#services-buttons,
	.footer {
		width: 1024px;
	}

	/* Header Styles */

	#header .container {
		padding: 50px 0px 90px 0;
	}

	#header .header-logo {
		left: 400px;
	}

	#header .header-logo img {
		width: 80%;
	}

	/* Services */	

	#services {
		margin-bottom: 100px;
	}

	.cols {
		flex-direction: row;
		width: 87%;
		margin: 0 auto;
	}

	.col-left {
		width: 147%;
		margin-left: 5px;
		margin-bottom: 20px;
	}

	.col-right {
		margin-top: -65px;
		margin-left: -20px;
		width: 140%;
	}

	.col-right img {
		max-width: 100%;
	}


	/* Divider */

	#divider {
		top: 795px;
	}

	#divider .container h2 {
		font-size: 200%;
	}




	/* Services */

	#services-buttons {
		margin-top: 290px;
	}

	#services-buttons .container {
	
		grid-gap: 177px;
		width: 72%;
		margin-left: 146px;
	}

	.button-container {
		width: 152%;
		margin-left: -73px;
	}

	.button-container img {
		max-width: 100%;
	}


	/* Footer */

	.footer-logo {
		left: 210px;
	}

	.footer-logo img {
		height: 128px;
		margin-bottom: 50px;
	}

	.copyright {
		font-size: 13px;
		width: 90%;
		text-align: center;
	}

	.copyright p {
		margin-left: 120px;
		line-height: 1.5;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
 
	.content-wrapper,
	#divider,
	#services-buttons,
	.footer {
		width: 1200px;
	}

	/* Header Styles */

	#header .container {
		padding: 50px 0px 90px 0;
	}

	#header .header-logo {
		left: 500px;
	}

	#header .header-logo img {
		width: 80%;
	}

	/* Services */	

	#services {
		margin-bottom: 100px;
	}

	.cols {
		flex-direction: row;
		width: 87%;
		margin: 0 auto;
	}

	.col-left {
		width: 147%;
		margin-left: 5px;
		margin-bottom: 20px;
	}

	.col-right {
		margin-top: -16px;
		margin-left: -20px;
		width: 140%;
	}

	.col-right img {
		max-width: 100%;
	}


	/* Divider */

	#divider {
		top: 795px;
	}

	#divider .container h2 {
		font-size: 250%;
	}




	/* Services */

	#services-buttons {
		margin-top: 290px;
	}

	#services-buttons .container {
	
		grid-gap: 210px;
		width: 72%;
		margin-left: 153px;
	}

	.button-container {
		width: 152%;
		margin-left: -73px;
	}

	.button-container img {
		max-width: 100%;
	}


	/* Footer */

	.footer-logo {
		left: 300px;
		/* width: 70%; */
	}

	.footer-logo img {
		height: 128px;
		margin-bottom: 50px;
	}

	.copyright {
		font-size: 13px;
		width: 90%;
		text-align: center;
	}

	.copyright p {
		margin-left: 150px;
		line-height: 1.5;
	}

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
 
	.content-wrapper,
	#divider,
	#services-buttons,
	.footer {
		width: 1024px;
	}

	/* Header Styles */

	#header .container {
		padding: 50px 0px 90px 0;
	}

	#header .header-logo {
		left: 400px;
	}

	#header .header-logo img {
		width: 80%;
	}

	/* Services */	

	#services {
		margin-bottom: 100px;
	}

	.cols {
		flex-direction: row;
		width: 87%;
		margin: 0 auto;
	}

	.col-left {
		width: 147%;
		margin-left: 5px;
		margin-bottom: 20px;
	}

	.col-right {
		margin-top: -65px;
		margin-left: -20px;
		width: 140%;
	}

	.col-right img {
		max-width: 100%;
	}


	/* Divider */

	#divider {
		top: 795px;
	}

	#divider .container h2 {
		font-size: 200%;
	}




	/* Services */

	#services-buttons {
		margin-top: 290px;
	}

	#services-buttons .container {
	
		grid-gap: 177px;
		width: 72%;
		margin-left: 146px;
	}

	.button-container {
		width: 152%;
		margin-left: -73px;
	}

	.button-container img {
		max-width: 100%;
	}


	/* Footer */

	.footer-logo {
		left: 210px;
	}

	.footer-logo img {
		height: 128px;
		margin-bottom: 50px;
	}

	.copyright {
		font-size: 13px;
		width: 90%;
		text-align: center;
	}

	.copyright p {
		margin-left: 120px;
		line-height: 1.5;
	}
}

